#header{
    display: flex;
    height: 80px;
    background-color: rgb(204, 52, 52);
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

#header .logo{
    font-size: 40px;
    color: white;
}

#header .options-link ul {
    display: flex;
    align-items: center;
    gap : 30px
}

#header .options-link ul li{
    list-style: none;
}
#header .options-link ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
} 