.sidebar-container{
    background-color: black;
    color: white;
    height: 150vh;
    width: 500px;
    padding: 0px 0px;
    display: flex;
    
}

.sidebar-container ul li{
    list-style: none;
    margin-top: 40px;
    font-size: 25px;
    flex: 1;
}
.binhan{
    margin-left: 380px;
    font-size: 30px;
}
.muitenngang{
    margin-left: 300px;
    position: absolute;
    margin-top: 0px;
}
.muitenxuong{
position: absolute;
margin-left: 300px;
display: none;
}
.noidung{
    background-color: rgb(72, 77, 77);
    position: relative;
}
